.git
.env
.env.testing
vendor
node_modules
public/build
public/hot
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
.idea
.vscode
.php-cs-fixer.cache
.phpunit.result.cache
GEMINI.md
CLAUDE.md
docker-compose.yml
config.mk
Makefile
